:root {
  font: 16px / 1 sans-serif;

  --purple-0: #b271d6;
  --purple-1: #5a2b78;
  --purple-2: #371a4a;
  --red-0: #991d42;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 1rem;
}

header .avatar {
  // margin: 0 1rem -50%;
  background-image: url('./images/square.svg');
  height: 64px;
  width: 64px;
  padding: 0.4rem;
}

header nav {
  display: flex;
  align-items: center;
}

header nav > * {
  margin: 0 4px;
}

header nav a,
header nav p {
  color: #3b3b3b;
  border: none;
  padding: 0.5rem;
  text-decoration: none;
}

footer {
  position: relative;
  height: 64px;
  margin-top: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa.fa-heart {
  color: rgba(255, 0, 0, 0.581);
}

input[type='number'] {
  border: none;
  border-color: transparent;
  // BELOW?
  appearance: textfield;
  &:focus-visible {
    outline: none;
  }
  & {
    margin: 5px 0 0 10px;
    height: 22px;
    font-size: 20px;
  }
}

select {
  border: none;
  border-color: transparent;
  // BELOW?
  appearance: textfield;
  &:focus-visible {
    outline: none;
  }
  & {
    margin: 5px 0 -5px 12px;
    height: 20px;
    font-size: 16px;
  }
}

label {
  display: block;
  padding: 5px 0;
}

.form-error {
  padding: 1.25rem;
  font-size: 1.25rem;
  background-color: var(--red-0);
  color: white;
}

form {
  padding-top: 30px;
}
.form-input {
  display: flex;
  flex-direction: column;
}

.form-input .note {
  font-size: 0.9rem;
  opacity: 0.6;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  background-color: #ffffff !important;
  color: #555 !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #555555 !important;
}

.form-input input[type='text'],
.form-input input[type='tel'],
.form-input input[type='email'],
.form-input input[type='password'],
.form-input input[type='file'],
.form-input textarea {
  font-family: 'Inika', serif;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

.form-input input[type='text'],
.form-input input[type='tel'],
.form-input input[type='email'],
.form-input input[type='password'],
.form-input textarea {
  border: thin solid var(--purple-1);
  padding: 0.5rem;
  border-radius: 0.2rem;
}

button,
input[type='submit'] {
  cursor: pointer;
  background: var(--purple-1);
  font-family: Inika, serif;
  color: white;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

button.small {
  font-size: 0.8rem;
  padding: 0.2rem;
}

.form-input button:active,
input[type='submit']:active {
  background: var(--purple-2);
}

.log-values {
  position: absolute;
  left: 0;
  top: 0;
  margin: 15px 5px 0 0;
}

nav.navbar-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}

.navbar {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .link {
    width: auto;
    display: flex;
    align-self: center;
    width: 100%;
  }
  .welcome {
    text-align: right;
    width: 150%;
    margin: 0;
  }
}

li.avatar {
  display: flex;
}

header .avatar {
  width: 50px;
  height: 50px;
  img {
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
  }
  & {
    z-index: 1000;
  }
}

nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ced4db;
  border-bottom: solid 1px black;
}

footer {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #ced4db;
  border-top: solid 1px black;
}

.calories-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  h1 {
    padding-bottom: 2rem;
    margin: 0 auto;
    text-align: center;
  }
  & {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    .calories-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .reminder {
      display: block;
      font-size: 0.8rem;
    }
    .calories-input-stats {
      margin-top: 2rem;
    }
    .calories-input-user {
      padding: 1rem;
      color: grey;
    }

    .calories-user-stats {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;
      padding-top: 2rem;
      margin-bottom: 2rem;
      font-size: 14px;
      visibility: hidden;
      opacity: 0;
      transition:
        visibility 0s,
        opacity 0.5s linear;
      height: auto;
      & > div {
        padding: 0.4rem;
      }
      .result-row {
        display: block;
        .result-value {
          padding-top: 0.5rem;
          font-size: 1.2rem;
        }
      }
    }
    .calories-user-stats.show {
      visibility: visible;
      opacity: 1;
    }
  }
}

.optional {
  padding-top: 2rem;
}

.date-picker-age {
  position: absolute;
  top: 345px;
  right: 500px;
  transform: translateX(50%);
}

.form-input {
  display: block;
  margin: 1em 0 1em 0;
  .date-picker-age {
    input[type='text'] {
      border-radius: 2rem;
      width: 150px;
      text-align: center;
    }
  }
}

.user-page .user-goals .goal-rate[type='number'] {
  font-size: 14px;
  width: 80px;
}

// .user-page .user-goals .goal-weight[type='number'] {
//   font-size: 14px;
//   width: 80px;
//   margin-left: 45px;
//   position: relative;
//   top: 20px;
// }

.date-picker-calendar {
  z-index: 1000;
}

.user-page .user-goals {
  .goal-weight[type='number'] {
    font-size: 14px;
    width: 80px;
    margin-left: 35px;
    // position: relative;
    // top: 20px;
  }
  .date-picker-goal {
    position: absolute;
    top: 10;
    right: 50;
    // transform: translateX(49%);
    transform: translate(85%, -65%);
    z-index: 1000;
  }
  .date-picker-goal {
    input[type='text'] {
      border-radius: 2rem;
      width: 150px;
      text-align: center;
    }
  }
}

.slider-input {
  position: absolute;
  pointer-events: auto;
  transform: translate(-100%, 20%);
}

.month-day-year {
  display: flex;
  span {
    flex: 1;
  }
  input {
    width: 100%;
    box-sizing: border-box;
  }
}

.user-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  h1 {
    padding-bottom: 2rem;
    margin: 0 auto;
    text-align: center;
  }
  & {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    .user-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 263px;
    }
    ul li {
      list-style-type: none;
      padding: 1rem;
    }
    .user-input-stats {
      margin-top: 2rem;
    }
    .user-input-user {
      padding: 1rem;
      color: grey;
    }
    .user-goals {
      position: relative;
      padding-top: 3rem;
      font-size: 14px;
      overflow: visible;
      display: flex;
      flex-direction: column;
      .goal-heading {
        position: absolute;
        font-size: 20px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        padding: 0;
        padding-top: 1.6rem;
        white-space: nowrap;
      }
      & label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 32px;
        position: relative;
        // z-index: -1000;
        .input-container {
          position: absolute;
          right: 0;
          top: 20%;
        }
        .slider-input {
          position: absolute;
          pointer-events: auto;
          top: 0;
          transform: translate(-110%, 120%);
          width: 100%;
        }
        .lose-placeholder {
          position: absolute;
          right: -80px;
        }
        .gain-placeholder {
          position: relative;
          right: -22px;
        }
        input[type='checkbox']:disabled {
          opacity: 1;
          cursor: not-allowed;
        }

        input[type='checkbox']:disabled + label {
          color: #000;
        }
      }
      & input[type='checkbox'] {
        margin-right: 10px;
        height: 20px;
        width: 20px;
        vertical-align: middle;
      }
      & input[type='number'] {
        border: solid 1px lightgray;
        margin: 0 20px 0 10px;
        width: 60px;
      }
    }
  }
}

.nowrap {
  white-space: nowrap;
}

@media screen and (max-width: 400px) {
  label {
    padding: 10px;
  }

  .lose-placeholder {
    position: absolute;
    top: -1px;
    right: -22px;
    max-width: 150px;
    margin-right: 60px;
    line-height: 18px;
  }
  .gain-placeholder {
    position: relative;
    right: -22px;
  }
  .slider-input {
    width: 100%;
    height: 15px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.15s ease-in-out;
  }

  .slider-input::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04aa6d;
    cursor: pointer;
    border-radius: 50%;
  }

  .slider-input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04aa6d;
    cursor: pointer;
    border-radius: 50%;
  }

  .slider-input::-ms-thumb {
    width: 25px;
    height: 25px;
    background: #04aa6d;
    cursor: pointer;
    border-radius: 50%;
  }
}
